[maxscale]
threads=auto

[Monitor]
type=monitor
servers=node1,node2,node3
user=maxscale
password=demo_password
monitor_interval=100
module=galeramon
journal_max_age=28800
script_timeout=90

[Service]
type=service
router=readconnroute
servers=node1,node2,node3
user=maxscale
password=demo_password

[Listener]
type=listener
service=Service
protocol=MariaDBClient
port=3306

[node1]
type=server
address=127.0.0.1
port=3307
protocol=MariaDBBackend

[node2]
type=server
address=127.0.0.1
port=3308
protocol=MariaDBBackend

[node3]
type=server
address=127.0.0.1
port=3309
protocol=MariaDBBackend
